<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ppmkelompok10.pendudukku">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pendudukku">
        <activity
            android:name=".ModulVaksin.PendudukTambahVaksinActivity"
            android:exported="false" />
        <activity
            android:name=".ModulVaksin.PendudukDaftarVaksinActivity"
            android:exported="false" />
        <activity
            android:name=".ModulVaksin.PegawaiEditVaksinActivity"
            android:exported="false" />
        <activity
            android:name=".ModulVaksin.DetailVaksinActivity"
            android:exported="false" />
        <activity
            android:name=".ModulVaksin.PegawaiDaftarVaksinActivity"
            android:exported="false" />
        <activity
            android:name=".ModulKTP.PendudukTambahKTPActivity"
            android:exported="false" />
        <activity
            android:name=".ModulKTP.PendudukDaftarKTPActivity"
            android:exported="false" />
        <activity
            android:name=".ModulKTP.PegawaiEditKTPActivity"
            android:exported="false" />
        <activity
            android:name=".ModulKTP.DetailKTPActivity"
            android:exported="false" />
        <activity
            android:name=".ModulKTP.PegawaiDaftarKTPActivity"
            android:exported="false" />
        <activity
            android:name=".ModulPenduduk.PegawaiEditPendudukActivity"
            android:exported="false" />
        <activity
            android:name=".ModulPenduduk.PegawaiTambahPendudukActivity"
            android:exported="false" />
        <activity
            android:name=".ModulPenduduk.PegawaiDaftarPendudukActivity"
            android:exported="false" />
        <activity
            android:name=".ModulAuth.UbahPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ModulAuth.PengaturanProfilActivity"
            android:exported="false" />
        <activity
            android:name=".MainPegawaiActivity"
            android:exported="false" />
        <activity
            android:name=".MainPendudukActivity"
            android:exported="false" />
        <activity
            android:name=".ModulAuth.LoginPegawaiActivity"
            android:exported="false" />
        <activity
            android:name=".ModulAuth.LoginPendudukActivity"
            android:exported="false" />
        <activity
            android:name=".GetStartedActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>